# Text
* text=auto
*.bat text eol=crlf
*.gradle text eol=lf
*.groovy text eol=lf
*.java text eol=crlf
*.json text eol=lf
*.md text
*.properties text eol=lf
*.sh text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
.gitattributes text eol=lf
.gitignore text eol=lf
gradlew text eol=lf
gradle/wrapper/gradle-wrapper.properties text eol=crlf

# Binary
*.dat binary
*.bin binary
*.png binary
*.exe binary
*.dll binary
*.zip binary
*.jar binary
*.7z binary
*.db binary
